.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #e6e6e6;
    padding: 20px 0;
    border-bottom: 1px solid #939393;
    z-index: 2;
}

body.no-scroll {
    overflow: hidden;
}

.logo {
    padding-left: 30px;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.hamburger {
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.side-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #e6e6e6;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 1000;
    padding-top: 60px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
}

.side-menu.open {
    display: block;
    transform: translateX(0);
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    padding: 15px 20px;
    justify-content: center;
    border-top: 1px solid black;
}

.side-menu li:nth-last-child(1) {
    border-bottom: 1px solid black;

}

.side-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.menu-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
