<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A:ssistant</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script src="/js/index.js"></script>
</head>
<body>
<main class="main-container">
    <div th:replace="~{layout/header :: header}"></div>
    <div class="content-wrapper">
        <div class="user-profile">
            <img th:src="${#authentication.principal.profileImage}" alt="프로필 이미지" class="profile-image">
            <p th:text="${#authentication.principal.name + '님의 일정'}"></p>
        </div>
        <section class="search-box">
            <form class="search-form" th:action="@{/api/search}" method="get">
                <input type="text" name="query" placeholder="앨런에게 물어보세요!" required/>
                <input name="userId" th:value="${#authentication.principal.id}" type="hidden">
                <button type="submit">검색</button>
                <button type="button" onclick="startSpeech()" title="음성으로 검색">🎤</button>
            </form>
        </section>
        <section class="card-section">
            <div class="card-row">
                <div class="card wide-card youtube-card">
                    <p>🎬 유튜브 영상 요약해줘</p>
                    <form id="youtubeForm" class="youtube-form">
                        <input type="text" id="youtubeInput" name="query" placeholder="유튜브 링크를 붙여넣어 주세요" required/>
                        <button type="submit">요약</button>
                    </form>

                    <div id="result" style="margin-top: 1rem; white-space: pre-wrap; color: #333;"></div>
                </div>

                <div class="card small-card" id="weather-card">
                    <div id="weather-location" class="weather-location"></div>
                    <div id="weather-time" class="weather-time"></div>
                    <div class="weather-info">
                        <img id="weather-icon"/>
                        <span id="weather-text"></span>
                    </div>
                </div>
            </div>
            <div class="card-row">
                <div th:each="prompt : ${promptList}" class="card small-card"
                     th:attr="data-query=${prompt.text}">
                    <p>
                        <span th:text="${prompt.icon}"></span>
                        <span th:text="${prompt.text}"></span>
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
