<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>YouTube 요약 결과</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/youtube-summary.css}">
</head>
<body>
<main class="main-container">
    <div th:replace="~{layout/header :: header}"></div>
    <div class="content-container">
        <div class="left">
            <iframe id="videoFrame" width="650px" height="400px" frameborder="0" allowfullscreen
                    allow="autoplay; encrypted-media"></iframe>
            <p class="summary-title">전체 요약</p>
            <ul id="totalSummary" class="totalSummary"></ul>
        </div>
        <div class="right">
            <div class="tab-buttons">
                <button onclick="toggleTab('summary')">요약</button>
                <button onclick="toggleTab('script')">스크립트</button>
            </div>
            <div id="summaryTab"></div>
            <div id="scriptTab" style="display:none;"></div>
        </div>
    </div>
</main>
<div th:replace="~{layout/footer :: footer}"></div>
<script src="/js/youtube-summary.js"></script>
</body>
</html>
